@keyframes bannerLoader {
  from {
    background-color: #686868;
  }
  to {
    background-color: #a8a8a8;
  }
}

.bannerContainer {
  width: 100%;
  background-color: #e7e7e7;
  height: auto;
  position: relative;
  top: 0;
  overflow: hidden;
}

.slick-slide {
  /* height: calc(100vh - 150px); */
  overflow: hidden;
}

.slick-slide img {
  /* height: calc(100vh - 150px); */
  overflow: hidden;
  object-fit: cover;
  object-position: 20% 50%;
}

.slick-prev {
  left: 3px;
  z-index: 100;
}

.slick-next {
  right: 20px;
  z-index: 100;
}

.slick-prev:before,
.slick-next:before {
  font-size: 26px;
}

.slick-slider {
  height: auto;
}
