@keyframes bannerLoader {
  from {
    background-color: #686868;
  }
  to {
    background-color: #a8a8a8;
  }
}

.bannerContainer {
  width: 100%;
  background-color: #a8a8a8;
  height: auto;
  position: relative;
  top: 0;
  overflow: hidden;
  animation: bannerLoader 1s linear 1s infinite alternate;
}

.slick-slide {
  height: calc(100vh - 150px);
}

.slick-slide img {
  height: calc(100vh - 150px);
  object-fit: cover;
  object-position: right;
}

.slick-prev {
  left: 3px;
  z-index: 100;
}

.slick-next {
  right: 20px;
  z-index: 100;
}

.slick-prev:before,
.slick-next:before {
  font-size: 26px;
}

.slick-slider {
  height: auto;
}
